* {
  box-sizing: border-box;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 175%;
}

div{
 
  position: relative;
  padding: 15px;
  background-color: #DDDDDD;
  margin: 1px;  
}

p{
  font-size: 125%;
  position: relative;
  text-align: right;
  height: auto;
  top: -16px;
  right: -16px;  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  border: 1px solid black;
  
}

#t1 {
  background-color: #55AAFF;
}

#t2 {
 background-color: #3366FF;
}

#t3 {
  background-color: #11BBFF;
}


.row {
  width: 100%;
}

/********** desktop-version **********/
@media (min-width: 992px) {
  .col-de-1, .col-de-2, .col-de-3, .col-de-4, .col-de-5, .col-de-6, .col-de-7, .col-de-8, .col-de-9, .col-de-10, .col-de-11, .col-de-12 {
    float: left;
    border: 1px solid black;
  }
  .col-de-1 {
    width: 8.33%;
  }
  .col-de-2 {
    width: 16.66%;
  }
  .col-de-3 {
    width: 25%;
  }
  .col-de-4 {
    width: 33.33%;
  }
  .col-de-5 {
    width: 41.66%;
  }
  .col-de-6 {
    width: 50%;
  }
  .col-de-7 {
    width: 58.33%;
  }
  .col-de-8 {
    width: 66.66%;
  }
  .col-de-9 {
    width: 74.99%;
  }
  .col-de-10 {
    width: 83.33%;
  }
  .col-de-11 {
    width: 91.66%;
  }
  .col-de-12 {
    width: 100%;
  }
}

/********** tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-ta-1, .col-ta-2, .col-ta-3, .col-ta-4, .col-ta-5, .col-ta-6, .col-ta-7, .col-ta-8, .col-ta-9, .col-ta-10, .col-ta-11, .col-ta-12 {
    float: left;
    border: 1px solid black;
  }
  .col-ta-1 {
    width: 8.33%;
  }
  .col-ta-2 {
    width: 16.66%;
  }
  .col-ta-3 {
    width: 25%;
  }
  .col-ta-4 {
    width: 33.33%;
  }
  .col-ta-5 {
    width: 41.66%;
  }
  .col-ta-6 {
    width: 50%;
  }
  .col-ta-7 {
    width: 58.33%;
  }
  .col-ta-8 {
    width: 66.66%;
  }
  .col-ta-9 {
    width: 74.99%;
  }
  .col-ta-10 {
    width: 83.33%;
  }
  .col-ta-11 {
    width: 91.66%;
  }
  .col-ta-12 {
    width: 100%;
  }
}

/********** mobile version **********/
@media (max-width: 767px) {
  .col-mo-1, .col-mo-2, .col-mo-3, .col-mo-4, .col-mo-5, .col-mo-6, .col-mo-7, .col-mo-8, .col-mo-9, .col-mo-10, .col-mo-11, .col-mo-12 {
    float: left;
    border: 1px solid black;
  }
  .col-mo-1 {
    width: 8.33%;
  }
  .col-mo-2 {
    width: 16.66%;
  }
  .col-mo-3 {
    width: 25%;
  }
  .col-mo-4 {
    width: 33.33%;
  }
  .col-mo-5 {
    width: 41.66%;
  }
  .col-mo-6 {
    width: 50%;
  }
  .col-mo-7 {
    width: 58.33%;
  }
  .col-mo-8 {
    width: 66.66%;
  }
  .col-mo-9 {
    width: 74.99%;
  }
  .col-mo-10 {
    width: 83.33%;
  }
  .col-mo-11 {
    width: 91.66%;
  }
  .col-mo-12 {
    width: 100%;
  }
}
